<div class="set-avatar">
<form action='/avatar' method='post'>
  Type in a number to choose your avatar: (1, 2, 3, 4, 5)<br><br>
  If your input is not valid, one will be chosen for you.<br><br>
  <input type='text' name="avatar" class="input"/>
  <br>
  <input type='submit' id="avatar_button"/>
</form>
  <div class="avatar-line">
    <img src='/images/avatar1.png'>1
    <img src='/images/avatar2.png'>2
    <img src='/images/avatar3.png'>3
    <img src='/images/avatar4.png'>4
    <img src='/images/avatar5.png'>5
  </div> 
<br>  
  
<p>Avatars from doppelme.com and sayuri-hime-7.deviantart.com.  Free license granted by the copyright holders.</footer></p>
</div>