
<div class="choose_name">

<h2>What is Player's Name?</h2>
<% session[:money] = 500 %>
<form action='/set_name' method='post'>
  Name: <input type='text' name="player_name" class="input"/>
  <br/>
  <input type='submit' id="name_button"/>
</form>
<img src='/images/Mike_Fleming.jpg' alt=https://flic.kr/p/5t6K39, photo by Mike Fleming, CC by 2.0>
<p>Photo by Mike Fleming, CC by 2.0.  Avatars from doppelme.com.</p>
  
</div>

