
<div class="choose_name">

<p>Choose a player name:<p>
<% session[:money] = 500 %>
<form action='/set_name' method='post'>
  Name: <input type='text' name="player_name" class="input"/>
  <br/>
  <input type='submit' id="name_button"/>
</form>
<img src='/images/sign.jpg' alt=https://flic.kr/p/9cpkyw, photo by Mike Fleming, CC by SA 2.0>
<p>Photo by Laurent Goujon, CC by SA 2.0.  Avatars from doppelme.com.</p>
  
</div>

