
<div class="choose_name">


<% session[:money] = 500 %>
<form action='/set_name' method='post'>
<p>Choose a player name:<p> <input type='text' name="player_name" class="input"/>
  <br/>
  <input type='submit' id="name_button"/>
</form>
<br><br>
<img src='/images/sign.jpg' alt=https://flic.kr/p/9cpkyw, photo by Mike Fleming, CC by SA 2.0>
<p>Photo by Laurent Goujon, CC by SA 2.0.</p>
  
</div>

